---
title: Reading List
---

<h1>Reading List</h1>
{% for stage in site.data.books %}
    <div class="reading-list-stage">
        <div class="stage-main">
            <h2>Stage {{ forloop.index }}: {{ stage.title }}</h2>
            <ol>
                {% for book in stage.main %}
                <li>
                    <cite>
                        {% if book.link %}
                            <a href="{{ book.link }}">{{ book.title }}</a>
                        {% else %}
                            {{ book.title }}
                        {% endif %}
                    </cite> by {{ book.author }}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="stage-optional">
            <h4>Optional, but highly encouraged:</h4>
            <ul>
                {% for book in stage.optional %}
                <li>
                    <cite>
                        {% if book.link %}
                            <a href="{{ book.link }}">{{ book.title }}</a>
                        {% else %}
                            {{ book.title }}
                        {% endif %}
                    </cite> by {{ book.author }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}

<!-- TODO: add links!!
<h1>Reading List</h1>
<div class="reading-list-stage">
    <div class="stage-main">
        <h2>Stage One: Overview</h2>
        <ol>
            <li><cite>The Three Sources and Three Component Parts of Marxism</cite> by Lenin</li>
            <li><cite>Wage-Labor, and Capital</cite> and/or <cite>Value, Price, and Profit</cite> by Marx</li>
            <li><cite>Dialectical and Historical Materialism</cite> by Stalin</li>
            <li><cite>State and Revolution</cite> by Lenin</li>
            <li><cite>Critique of the Gotha Programme</cite> by Marx</li>
            <li><cite>The Foundations of Leninism</cite> by Stalin</li>
            <li><cite>Imperialism and the Split in Socialism</cite> by Lenin</li>
        </ol>
    </div>
    <div class="stage-optional">
        <h4>Optional, but highly encouraged:</h4>
        <ul>
            <li><cite>Anarchism or Socialism?</cite> by Stalin</li>
            <li><cite>Caricature of Marxism and Imperialist Economics</cite> by Lenin</li>
        </ul>
    </div>
</div>
<div class="reading-list-stage">
    <h2>Stage Two: Details</h2>
    <div class="stage-main">
        <ol>
            <li><cite>Socialism: Utopian or Scientific</cite> or <cite>Anti-Dühring</cite> by Engels</li>
            <li><cite>Reading Capital With Comrades</cite> (podcast series) by Liberation School</li>
            <li><cite>Imperialism: the Highest Stage of Capitalism</cite> by Lenin</li>
            <li><cite>Fascism and Social Revolution</cite> by R. Palme Dutt</li>
            <li><cite>Reform or Revolution</cite> by Luxemburg</li>
        </ol>
    </div>
</div>
<div class="reading-list-stage">
    <h2>Stage Three: Anti-Revisionism</h2>
    <div class="stage-main">
        <ol>
            <li><cite>Trotskyism or Leninism?</cite> by Stalin</li>
            <li><cite>Can the Chinese Revolution be Called a Proletarian Revolution?</cite> by Hoxha</li>
            <li><cite>Against Dengism</cite> by Red Spectre</li>
        </ol>
    </div>
    <div class="stage-optional">
        Optional, but highly encouraged:
        <ul>
            <li><cite>The Marxist-Leninist Movement and the World Crisis of Capitalism</cite> by Hoxha</li>
            <li><cite>The Modern Revisionists on the Way to Degenerating into Social Democrats and to fusing with Social Democracy</cite> by Hoxha</li>
        </ul>
    </div>
</div> -->
