---
title: Socials
---

<ul>
    <li>
        <h2>Discord</h2>
        <br>
        <p>
            Join our Discord server to get engaged, join our book club, or socialize!
            Discord is our organizational platform, where you can join committees, join book club, and learn and debate theory!
            You can join <a href="{{ page.discord_invite }}">here</a>
            {% include embeds/discord.html %}
        </p>
    </li>
    <li>
        <h2>Instagram</h2>
        <br>
        <p>
            Follow us on Instagram for updates, statements, and articles!
            Our handle is <a href="{{ page.ig_link }}"">{{ page.ig_handle }}</a>
            {% include embeds/instagram.html %}
        </p>
    </li>
    <li>
        <h2>TikTok</h2>
        <br>
        <p>
            Follow us on TikTok!
            Our handle is <a href="{{ page.tt_link }}"">{{ page.tt_handle }}</a>
            {% include embeds/tiktok.html %}
        </p>
    </li>
    <li>
        <h2>Twitter</h2>
        <br>
        <p>
        Follow us on <s>X</s>Twitter for updates and statements!
        Our handle is <a href="{{ page.tw_link }}"">{{ page.tw_handle }}</a>
        {% include embeds/twitter.html %}
    </p>
    </li>
</ul>
