<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mire - {{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="/images/red-graphic.png">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        {% for name in layout.extra_styles %}
            <link rel="stylesheet" type="text/css" href="/assets/css/{{ name }}.css">
        {% endfor %}
    </head>
    <body>
        <header>
            <img src="/images/full-logo.png" alt="MIRE Logo" id="header-logo">
            <span id="header-org-name">
                {{ page.org_name }}
            </span>
        </header>
        <nav id="topnav">
            <ul>
                <li {% if page.title == "Articles" %}class="active"{% endif %}>
                <a href="/articles.html">Articles</a></li>
                <li {% if page.title == "Program" %}class="active"{% endif %}>
                <a href="/program.html">Program</a></li>
                <li {% if page.title == "Socials" %}class="active"{% endif %}>
                <a href="/socials.html">Socials</a></li>
                <li {% if page.title == "Reading List" %}class="active"{% endif %}>
                <a href="/reading-list.html">Reading List</a></li>
            </ul>
        </nav>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
